/* Import font */
@font-face {
    font-family: 'aller';
    src: url('../../assets/fonts/Aller_Std_Rg.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

.home-section {
    background-color: #A52A2A;
    color: white;
    padding: 50px 20px;
    text-align: center;
    font-family: 'Arial', sans-serif;
}

.home-section__date {
    font-family: 'aller', 'Georgia', serif;
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 10px;
}

.home-section__location {
    font-size: 2rem; /* This is 32px, similar to the h1 size in Section1 */
    margin-bottom: 20px;
}

.home-section__image-container {
    width: 100%;
    max-width: 600px; /* Consistent max-width */
    height: auto;
    border-radius: 8px;
    margin: 0 auto; /* Center horizontally */
    display: flex;
    justify-content: space-between; /* Aligns content to the left and right */
}

.home-section__image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.home-section__details {
    font-size: 1.2rem;
    line-height: 1.6;
}