/* Import font */
@font-face {
    font-family: 'aller';
    src: url('../assets/fonts/Aller_Std_Rg.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  .home-section-3 {
    text-align: center;
    font-family: 'Arial', sans-serif;
    color: #b94141;
    background-color: #ffffff;
    padding: 50px 20px;
  }
  
  .section-title {
    font-family: 'aller', 'Georgia', serif;
    font-size: 38px; /* Ensures the title is prominent */
    margin-bottom: 30px; /* Adds space below the title */
    color: #b94141;
  }
  
  .story-content {
    display: flex;
    flex: 1;
    flex-direction: row;
    margin: auto;
    align-items: center;
  }
  
  .image-container {
    background-color: #f9ecec;
  }
  
  .story-image {
    margin-top: 5%;
    width: 95%;
    max-width: 400px;
    height: auto;
    border-radius: 8px;
  }
  
  .image-caption {
    margin-top: 10px;
    margin-bottom: 20px;
    font-style: italic;
    color: #b94141;
  }
  
  .text-container {
    max-width: 800px;
    margin-top: 20px;
    margin-left: 10%;
    text-align: left;
  }
  
  .text-container p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #b94141;
  }
  