.rsvp-page {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 40px;
    min-height: 100vh;
    background-color: #e7eef1;
}

.rsvp-section-1 {
    flex: 45%;
    margin-left: 10%;
    padding-top: 100px; /* Adjust this value based on the height of your Navbar */

}

.rsvp-section-2 {
    flex: 50%;
    border-radius: 8px;
    padding-top: 200px; /* Adjust this value based on the height of your Navbar */

}

/* Adjust RSVPForm styles if needed */
.rsvp-form {
    margin: 0;
}
