.verification-background {
  display: flex;
  align-items: center; /* Vertically centers the container */
  justify-content: center; /* Horizontally centers the container */
  height: 100vh; /* Full viewport height */
  background-image: url('../assets/envelope.png');
  background-repeat: no-repeat;
  background-position: center; /* Center the image within the container */
  background-size: contain;
}

/* Container for the content */
.verification-container {
  max-width: 400px;
  padding: 20px;
  background-color: transparent; /* Transparent background */
  text-align: center;
  color: white; /* White text color */
  position: relative; /* Enables positioning relative to its normal position */
  top: 100px; /* Offsets the container 100px downward */
}

/* Styling for the header */
.verification-header {
  font-size: 24px;
  margin-bottom: 10px;
}

/* Styling for the subtext */
.verification-subtext {
  font-size: 16px;
  margin-bottom: 20px;
}

/* Styling for the form */
.verification-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Styling for the input field */
.verification-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid white; /* White border for visibility */
  border-radius: 4px;
  font-size: 16px;
  background-color: transparent; /* Transparent background */
  color: white; /* White text color */
  transition: border-color 0.3s ease;
}

/* Placeholder styling */
.verification-input::placeholder {
  color: white; /* White placeholder color */
}

/* Focus state for the input */
.verification-input:focus {
  border-color: #007bff;
}

/* Error state for the input */
.input-error {
  border-color: #dc3545;
}

/* Error message styling */
.error-message {
  color: #dc3545;
  font-size: 14px;
  margin-bottom: 10px;
}

/* Styling for the verification button */
.verification-button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Hover state for the button */
.verification-button:hover {
  background-color: #0056b3;
}
