.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative; /* Position relative to enable centering of links */
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-logo {
  height: 40px;
  margin-right: 10px;
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
  color: #000;
}

.navbar-links {
  display: flex;
  list-style-type: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.navbar-item {
  margin: 0 15px;
}

.navbar-item a {
  text-decoration: none;
  color: #000;
}

.navbar-right {
  display: flex;
  align-items: center;
  margin-left: auto; /* Ensures the navbar-right stays on the right side */
}

.navbar-search-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}