.search-input {
    padding: 5px 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
  }
  
  .search-results {
    margin-top: 10px;
    list-style-type: none;
    padding: 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
  }
  
  .result-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
  }
  
  .result-item:last-child {
    border-bottom: none;
  }
  